.home-container {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f5f7fa;
  border-top: solid 1px #f5f7fa;
}
.home-heading {
  font-size: 40px;
  color: #1e293b;
  font-weight: 600;
  font-family: 'Inter';
}
.home-des {
  color: #475569;
  font-family: 'Inter';
  font-size: 20px;
}
.slider-container {
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px #28293d14;
}
.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-head {
  font-size: 24px;
  color: #1e293b;
}
.find-books-btn {
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  height: 36px;
  width: 104px;
  border-radius: 5px;
}
